<div class="all">
  <h1>3go2002</h1>
</div>

<nav class="navbar">
  <a>Blog</a>
  <a>Fotos</a>
  <a>Perfil</a>
</nav>

<div class="retro-layout">
  <aside class="recent-post">
    <h2>first one</h2>
    <p>Texto</p>
  </aside>

  <div class="posts-horizontal">
    <article class="post" *ngFor="let Post of Posts">
      <h2 class="post-title">{{ Post.Title }}</h2>
      <div class="post-body">
        <div class="img-wrap">
          <img class="post-img"
              [src]="'tux.jpg'"
              [alt]="'Imagen de ' + Post.Title"
              loading="lazy">
        </div>
        <div class="text-wrap">
          <p class="post-text">{{ Post.Content}}</p>
        </div>
      </div>
    </article>
    <!-- más posts aquí -->
  </div>

  
</div>