<div class="all">
  <h1>3go2002</h1>
</div>

<nav class="navbar">
  <a>Blog</a>
  <a>Fotos</a>
  <a>Perfil</a>
</nav>

<div class="retro-layout">
  <aside class="recent-post">
    <h2>first one</h2>
    <p>Texto</p>
  </aside>

  <div class="posts-horizontal">
    <article class="post" *ngFor="let post of posts">
      <h2 class="post-title">{{ post.title }}</h2>
      <img class="post-img" [src]="post.imageUrl">
      <p class="post-text">{{ post.text }}</p>
    </article>
    <!-- más posts aquí -->
  </div>

  
</div>